*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}
.main{
  background-image: url(images/food.jpg);
  background-attachment: scroll;
  background-size: cover;
  height: 120vh;
  opacity: 0.9;
  z-index: 0;
}
.fixed-header{
  /* rgba(254,226,226) */
  background-color: rgb(238, 154, 154);
  transition: background-color 1s;
  padding: 0px;
  position: fixed;
  top:0px;
  z-index: 9999;
}
.about-bg-img{
  background-image: url(images/food1.jpg);
  background-attachment: scroll;
  background-size: cover;
  height: 60vh;
  opacity: 0.9;
  position: relative;
}
.img-text{
  width: 10%;
  position:absolute;
  top:0;
  left:0;
  color: #f55516;
}
.mobile-view{
  background-color: rgb(238, 154, 154);
  transition: background-color 1s;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100vh;
  border-radius: 10px;
  display: none;
}
i{
  font-size:22px;
  cursor: pointer;
}
hr{
  border: 2px solid rgb(68, 140, 235);
  border-radius: 10px;
  margin: 20px;
}
/* ----------Standard Classes------------ */
h1, h2, h3, h4, h5, h6, p{
  padding: 10px;
  margin: 10px;
}
.d-none{
  display: none;
}
.d-block{
  display: block;
}
.z-index-1{
  z-index: -1;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tc{
  text-align: center;
}
.tl{
  text-align: left;
}
.tr{
  text-align: right;
}
.tc-green{
  color: green;
}
.bg-blue{
  background-color: #b3d4fc;
}
.bg-white{
  background-color: #fff;
}

.m-5{
  margin: 0px 5%;
}
.m{
  margin: 10px;
}
.mt{
  margin-top: 10px;
}
.mb{
  margin-bottom: 10px;
}
.ml{
  margin-left: 10px;
}
.mr{
  margin-right: 10px;
}

.p{
  padding: 10px;
}
.pt{
  padding-top: 10px;
}
.pb{
  padding-bottom: 10px;
}
.pl{
  padding-left: 10px;
}
.pr{
  padding-right: 10px;
}
.br{
  border-radius: 5px;
}


<iframe width="100%" height="inherit" src="https://www.youtube.com/embed/qWZS3jNkkyo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>

<iframe title="vimeo-player" src="https://player.vimeo.com/video/367975681" width="100%" height="inherit" frameborder="0" allowfullscreen></iframe>