*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
.container{
  width:100%;
}
/* ------------------Navigation bar Starts----------------- */
nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}
.right{
  display: flex;
  align-items:center;
  justify-content: flex-end;
}
nav a{
  text-decoration: none;
  margin-left: 40px;
  color: black;
}
div.left img{
  width: 150px;
}
div a:hover{
  margin-top: 10px;
  border-bottom: 1px solid black;
  background-color: rgb(142, 184, 224);
}
/* ------------------Navigation bar Ends----------------- */

.main{
  border-bottom: 1px solid red;
}
.sec-1{
  background-image: url(images/pakmap.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  opacity: 0.6;
  overflow-y:auto;
}
.sec-2{
  background-image: url(images/rakhta.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  opacity: 0.6;
  overflow-y: scroll;
}
/* ---------------------------------------------------------------------------------*/
/* standard CSS */
.flex{
  display: flex;
  align-items: center;
  justify-content:center;
}
.flex-col{
  flex-direction: column;
}
.tc{
  text-align: center;
}
.bg-green{
  background-color: rgb(74, 124, 78);
}
.bg-black{
  background-color:rgb(32, 32, 32);
}
.bg-white{
  background-color:rgb(202, 190, 190);
}
.bg-yellow{
  background-color: rgb(212, 214, 71);
}
.bg-info{
  background-color:rgb(202, 190, 190)
}
.bg-primary{
  background-color: skyblue
}
.bg-danger{
  background-color: rgb(197, 48, 48);
}
.bg-success{
  background-color: rgb(38, 184, 99);
}
.bg-warning{
  background-color: rgb(230, 241, 73)
}

.text-info{
  color:rgb(202, 190, 190)
}
.text-primary{
  color: skyblue;
}
.text-danger{
  color: rgb(197, 48, 48);
}
.text-success{
  color: rgb(38, 184, 99);
}
.text-warning{
  color: rgb(230, 241, 73)
}
.p{
  padding: 10px;
}
.pt{
  padding-top: 10px;
}
.pb{
  padding-bottom: 10px;
}
.pl{
  padding-left: 10px;
}
.pr{
  padding-right: 10px;
}
.m-10{
  margin: 10px 10%;
}
.br{
  border-radius: 10px;
}
.m{
  margin: 10px;
}
.mt{
  margin-top: 10px;
}
.mb{
  margin-bottom: 10px;
}
.ml{
  margin-left: 10px;
}
.mr{
  margin-right: 10px;
}















/* 

section{
  width: 100%;
  display:flex;
  align-items:center;
  justify-content: flex-start;
}
.left{
  width: 20%;
  background-color:cornsilk;
  display:flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
a{
  padding:5px;
}
.right{
  width: 80%;
  background-color:rgb(184, 255, 255);
  display:flex;
  flex-direction: column;
}
p, h4{
  display: inline-block;
}
tr, td{
  padding:5px;
}
input{
  width: 300px;
  padding: 5px;
  border-radius: 5px;
}

pre{
  background-color:aqua;
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
} */


