*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
.container{
  width:100%;
}
/* ------------------Navigation bar Starts----------------- */
header{
  width: 100%;
  background-image: url(/html/images/6.png);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.left{
  width: 40%;
}
.right{
  width: 60%;
}
nav a{
  text-decoration: none;
  margin-left: 40px;
  color: white;
  font-family:'Times New Roman', Times, serif;
}
/* ------------------Navigation bar Ends----------------- */


/* ------------------Section Starts----------------- */
.img-div{
  position: absolute;
  top: 100px;
  width: 90%;
  margin: 0px 5%;
}
.img-text{
  width: 40%;
}
.img-img{
  width: 40%;
}
div.img-img img{
  width: 100%;
}
section{
  background-image: url(/html/images/3.png);
  background-size: cover;
  background-attachment: scroll;
  height: 160vh;
}
.card{
  background-color:rgb(255, 255, 255);
  margin: 0 10px;
}
.card img{
  border: 2px solid red;
  margin: 0 10px;
  width: 100%;
}
i{
  font-size: 100px;
  margin: 20px 0px;
}
/* ------------------Section Ends----------------- */


/* ------------------Footer Starts----------------- */
footer{
  position:static;
  bottom:0;
}
footer a{
  text-decoration: none;
  color: rgb(74, 124, 78);
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}
input, textarea{
  border-radius: 10px;
  padding:10px;
  margin-bottom: 10px;
  background-color:black;
}
textarea{
  height: 100px;
}
/* ------------------Footer Ends----------------- */


/* ------------------Gradent Effect----------------- */
nav a:hover{
  background-image:linear-gradient(to bottom right, green, yellow);
  border-radius: 10px;
  padding: 10px;
}
footer a:hover{
  background-image:linear-gradient(rgb(177, 177, 87),rgb(212, 212, 212), rgb(87, 138, 87));
  border-radius: 5px;
}
button:hover{
  background-image: radial-gradient(rgb(160, 160, 97), rgb(106, 161, 106), rgb(158, 158, 94));
  border-radius: 10px;

}

/* ---------------------------------------------------------------------------------*/
/* standard CSS */
.flex{
  display: flex;
  align-items: center;
  justify-content:center;
}
.inline-flex{
  display: inline-flex;
}
.flex-col{
  flex-direction: column;
}
.justify-left{
  justify-content:flex-start;
}
.align-items-start{
  align-items: flex-start;
}
.flex-1{
  flex:1;
}
.tc{
  text-align: center;
}
.bg-green{
  background-color: rgb(74, 124, 78);
}
.bg-black{
  background-color:rgb(32, 32, 32);
}
.text-green{
  color: rgb(74, 124, 78);
}
.text-black{
  color: rgb(32, 32, 32);
}
.text-white{
  color: rgb(218, 218, 218);
}
h1,h2,h3,h4,h5,h6,p{
  padding: 10px 0px;
}
.p{
  padding: 10px;
}
.pt{
  padding-top: 10px;
}
.pb{
  padding-bottom: 10px;
}
.pl{
  padding-left: 10px;
}
.pr{
  padding-right: 10px;
}
.m-10{
  margin: 10px 10%;
}
.br{
  border-radius: 10px;
}
.br-100{
  border-radius: 100%;
}
.m{
  margin: 10px;
}
.mt{
  margin-top: 10px;
}
.mb{
  margin-bottom: 10px;
}
.ml{
  margin-left: 10px;
}
.mr{
  margin-right: 10px;
}



